@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$goldColor: #A19564;
$heightHome: 100vh;
$titleFontStyle: 'Marcellus', serif;
$textFontStyle: 'Open Sans', sans-serif;
$signatureFontStyle: 'Caveat', cursive;
$mainFontColor: #949494;
$mainFontSize: 13px;