@import "../../_variables.scss";


.contact-items {
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30%;
    width: 100%;
}

.contact-items div span {
    margin-left: 20px;
    word-wrap: break-word
}

.contact-items div {
    padding-bottom: 30px;
}

.contact-items div span {
    margin-left: 20px;
    word-wrap: break-word
}

.post-code {
    display: block;
    padding-left: 20px;
}

.map-content {
    height: 300px;
    width: 100%;
    margin:0;
    margin-top:40px;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    .contact-items {
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
        width: 100%;
    }

    .contact-items div {
        padding-bottom: 0;
    }
}