@import "../../_variables.scss";


.describe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 30px;
}
.describe div {
    text-align: justify;
}

.describe div span {
    font-weight: bold;
}

.describe div:first-of-type {
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}

.describe div:last-of-type {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: $goldColor;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    .describe {
        align-items: flex-start;
        margin-right: 80px;
        padding-bottom: 0;
    }

    .describe div:last-of-type {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        text-align: left;
    }
}