@import "../../_variables.scss";

.describe-offer div {
    font-weight: bold;
    color: #A19564;
}

.describe-offer ul {
    text-align: justify;
    font-weight: bold;
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1200px){
   
}